<%- include('partials/header', {title: 'Bootstrap Template'} ); %>
  <div class="contaner-fluid">
  	<% if ( typeof( categories ) !== 'undefined' ){%>
    	<%- include('partials/list-categories', {'categories': categories});%>
    <% } else if ( typeof(category) !== 'undefined' && typeof(items) !== 'undefined' ) {%>
    	<%- include('partials/list-items', {'category': category, 'items': items});%>
    <% }else{ %>
    	<h1>Default Content</h1>
    <%	} %>
  </div>
<%- include('partials/footer'); %>
