<%- include('partials/header', {title: 'Bootstrap Template'} ); %>
  <div class="container-fluid">
  <div class="row">
  	<div class="col-sm-12">
  		<% if( ui === 'register'){ %>
  			<%- include('partials/register-form');%>
  		<% }else if( ui === 'login'){ %>
  			<%- include('partials/login-form');%>
  		<% }else{ %>
  			<h1>Unknown Page</h1>
  			<a href="/">Home</a>
  		<% }%>	
  	</div>
  </div>
  </div>
<%- include('partials/footer'); %>