<%- include('partials/header');%>

<div class="container-fluid">
  <div class="row">
    <%
        for(var i=0 ; i < items.length ; i++){
    %>
     <% if( i !== 0 && (i % 3) === 0 ){%>
        <div class="clearfix visible-sm-block"></div>
     <% } %>

     <% if( i !== 0 && (i % 4 ) === 0 ){%>
        <div class="clearfix visible-md-block"></div>
     <% } %>  

     <% if( i !== 0 && (i % 2 ) === 0 ){%>
        <div class="clearfix visible-lg-block"></div>
     <% } %>  
        <%- include('partials/article', { item: items[i]});%>
    <%        
        }
    %>
  </div>
</div>
    
<%- include('partials/jsfiles');%>
<%- include('partials/footer');%>
