<article class="col-sm-6">
    <header>
        <img src="/images-lg/<%=item.src %>" alt="<%=item.alt%>">
    </header>
    <section>
        <h3><%=item.title%></h3>
        <p><%-item.shortinfo%></p>
    </section>
    <footer>
        <a href="#" class="btn btn-primary">Read More</a>
    </footer>
</article>