<form method="post" action="/user/try-login" enctype="multipart/form-data">
  <div class="form-group">
    <label for="mail">Email address</label>
    <input type="email" class="form-control" name="email" id="mail" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="passowrd1">Password</label>
    <input type="password" class="form-control" name="password" id="passowrd1" placeholder="Password">
  </div>
  
  <button type="submit" class="btn btn-default">Login</button>
</form>