 <nav>
    <ul class="nav nav-pills">
      <li role="presentation"><a href="/user/registration">Register</a></li>
      <li role="presentation"><a href="/user/login">Login</a></li>
      <li role="presentation"><a href="/user/logout">logout</a></li>
    </ul>    
  </nav>